@{
    ViewBag.Title = "NEC";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <img class="img-responsive" src="~/Content/Images/nec2.png" sizes="to">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Add or modify companies.List all companies, view, add or delete existing employees.
        </p>
        <p><a class="btn btn-default" href="~/Companies">Companies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hire people</h2>
        <p>View a list of all employees.Create new or terminate existing employments.</p>
        <p><a class="btn btn-default" href="~/Employees">Employments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web API</h2>
        <p> Extend your services using our API.</p>
       @* <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>